@import url("nav.css");
@import url("bluetooth.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: Roboto;
    display: flex;
    flex-direction: row;
}

[hidden] {
    display: none !important;
}

ul {
    list-style: none;
}

.container {
    padding: 5px;
    width: 100%;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f2d2d;
}
